.wrapper {
    display: flex;
}

.dashboard {
    width: 20%;
    height: 100vh;
    background-color: var(--white);
    border-right: 2px solid var(--dark-green);
}

.container {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--primary);
    box-shadow: 0 2px 1px #ccc;
}

.icon {
    padding: 0 8px;
    font-size: 20px;
    color: var(--dark-blue);
    cursor: pointer;
}
