.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--while);
    border: 1px solid transparent;
}

.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--dark-blue);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        border-color: var(--dark-green);
        background: var(--dark-green);
    }
}

.outline {
    color: var(--white);
    border-color: var(--white);
    background-color: transparent;

    &:hover {
        border-color: var(--primary);
        background-color: var(--primary);
    }
}

.text {
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 0;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.small {
    font-size: 1.2rem;
    font-weight: 400;
    min-width: 88px;
    padding: 8px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.micro {
    font-size: 0.5rem;
    font-weight: 300;
    min-width: 28px;
    padding: 2px;
    text-align: center;
}

.square {
    padding: 8px;
    min-width: 40px;
}

.active {
    color: var(--red-one);
}

.selected {
    position: relative;
    border: 1px solid green;
    overflow: hidden;
}

.tick-btn {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-green);
    padding: 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -2px;
    bottom: -4px;
}

//link
.link {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.icon {
    padding-right: 5px;
}
