@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #5cdb95;
    --dark-green: #379683;
    --light-green: #8ee4af;
    --white-green: #edf5e1;
    --dark-blue: #05386b;
    --black: #000;
    --white: #fff;
    --red-one: #ff0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    text-rendering: optimizeSpeed; //Tang toc do render font
}

input,
button {
    outline: none;
    border: none;
}
