.wrapper {
    display: flex;
    margin: 20px 0;
}

.number-input {
    border: 1px solid rgba(22, 24, 35, 0.12);
    input {
        width: 50px;
        height: 80%;
        text-align: center;
    }
}
