.wrapper {
}

.banner {
    position: relative;
    height: calc(100vh - 141px);
}

.home-collections {
    height: 400px;
    width: 100%;
    display: flex;
}

.section-title {
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: center;
}

.featured-product {
    margin: 40px auto 0;
    width: 1270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-product-item {
    width: 24%;
}
