.wrapper {
}

.banner {
    position: relative;
    height: calc(100vh - 141px);
}

.home-collections {
    height: 400px;
    width: 100%;
    display: flex;
}

.collection {
    width: 25%;
    flex: 1;
    &:hover {
        opacity: 0.625;
    }
}
