.wrapper {
    width: 100%;
}

.header {
    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    border-bottom: 2px solid var(--primary);
}

.applied-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
