.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 141px;
    z-index: 100;
}

.header-upper {
    height: 100px;
    background-color: var(--primary);
}

.header-content {
    margin: auto;
    padding: 20px 15px;
    width: 1270px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hc-search {
    width: 500px;
    height: 40px;
}

.hc-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-tippy {
    background-color: var(--white-green);
    color: var(--dark-blue);
    box-shadow: 2px 2px 1px rgba(5, 56, 107, 0.6);
    border-radius: 5px;
    margin: -8px 0;
    padding: 8px 0;
}

.cart-tippy {
    padding-left: 8px;
    padding-right: 8px;
}

.tippy-btn {
    margin: 16px;
}

.login-tippy {
    display: flex;
    flex-direction: column;
}

.login-item {
    width: 42px;
    height: 42px;
    overflow: hidden;
    position: relative;
    padding: 8px;
    cursor: pointer;
    color: var(--dark-blue);

    &:hover {
        color: rgba(5, 56, 107, 0.6);
    }
}

.avatar {
    border: 1px solid var(--white-green);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.count-product {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: 4px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: var(--primary);
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.login-icon {
    font-size: 2.4rem;
}

.header-navbar {
    background-color: var(--white-green);
    height: 41px;
}
